{{#each this}}
`<li class="gallery__item">
  <a
    class="gallery__link"
    href="${e.original}"
  >
  
    <img
      class="gallery__image"
      src="${e.preview}"
      data-source="${e.original}"
      alt="${e.description}"
    />

    <span class="gallery__icon">
      <i class="material-icons">zoom_out_map</i>
    </span>
  </a>
</li>`
{{/each}}