{{#each this}}
<li class="gallery__item">
  <a
    class="gallery__link"
    href="{{largeImageURL}}"
  >
  
    <img
      class="gallery__image"
      src=""
      data-source="{{largeImageURL}}"
      data-lazy="{{previewURL}}"
      alt="{{tags}}"
    />

    <span class="gallery__icon">
      <i class="material-icons">zoom_out_map</i>
    </span>
  </a>
</li>
{{/each}}